@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import "tailwindcss";

.font-press {
  font-family: "Press Start 2P", cursive;
}

@keyframes spinInfinite {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin-infinite {
  animation: spinInfinite 8s linear infinite;
}
